<p style="color:var(--ravenred)">We are always looking for new opportunities. Please reach out and ask how you can participate or organize a retreat of your own. <a href="/contact">Contact us!</a></p> 
<div>
    <div class="heart-warming">
        <div><a href="blog/frame-drum-workshops/"><img src="/images/drum-circle.jpeg" alt="" class="hw-img"></a><em>Anuks drum workshops 2020</em></div><div><a href="/blog/david-barret-guitar-weekend/"><img src="/images/DB3.jpg" alt="" class="hw-img"></a><em>David Barrett Guitar Summit 2013</em></div><div><a href="/blog/soul-of-solstice/"><img src="/images/yurt-circle.jpg" alt="" class="hw-img"></a><em>Soul of Solstice 2023</em></div>
    </div>
</div> 