<div>
    <hr>
    <ul class="list-list">
        {{ range first 1 (where .Site.RegularPages "Type" "blog") }}
            <li class="list-item">
                <span class="list-day">
                    {{ .Date.Format "01/2/06"}}
                    {{ if eq .Date (index .Site.RegularPages.ByDate.Reverse 0).Date }}
                        <span style="display: inline-block;"><img src="/images/nd01-icon-new.gif" alt=""></span>
                    {{ end }}
                </span>
                <br>
                <a href="{{.Permalink}}" class="list-item-inner">
                    <span class="entry-title">{{.Title}} </span>
                    {{ if .Params.Cover }}
                    <img src="{{ print .Params.Cover }}" alt="" class="entry-img">
                    {{ end }}
                </a>
                <div class="entry-summary">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <span>
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </span>
                    {{ end }}
                </div>
            </li>
        {{ end }}
    </ul>
    <a href="/blog">Browse the archive</a>
    <hr>
</div>