<div class="options">
    <div>
        <a href="/bunkie"><img src="/images/cabin-front.jpg" alt="" class="op-img"></a>
        <h4>Tranquil cottage getaway</h4>
        <h3 id="op-heading">Ravenswood Rustic Retreat <span><img src="/images/raven-logo-small.png" alt=""></span></h3>
        <p>Enjoy a tranquil cottage getaway at our very own sanctuary in the woods.</p>
        <a href="/bunkie" class="op-button">Discover more...</a>
    </div>
    <div>
        <a href="/subtleshift"><img src="/images/Studio-angle-1_HHC0417.JPG" alt="" class="op-img"></a>
        <h4>Spiritual Restoration</h4>
        <h3 id="op-heading">The Subtle Shift Reiki<span><img src="/images/Subtle-shift-logo-small.png" alt=""></span></h3>
        <p>Ease your mind, body and soul with customized energy healing sessions from Denise Benning.</p>
        <a href="/subtleshift" class="op-button">Discover more...</a>
    </div>
</div>
<br>